<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6">
  <h2 class="text-center">Добавить запчасть</h2>
  <form>
    <div class="form-group">
      <label for="title">Наименование запчасти:</label>
      <input name="title" [(ngModel)]="part.title" placeholder="Наименование запчасти" title="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="iRequired">Обязательна для сборки:</label>
      <input type="checkbox" name = "text" [(ngModel)]="part.iRequired" title="iRequired" class="form-control" id="iRequired">
    </div>

    <button class="btn btn-success" (click)="createPart()">Создать</button>
  </form>
</div>
</body>
</html>
