<h2 mat-dialog-title>Редактирование детали - {{part.title}}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput title="Наименование детали:" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput title="Количество на складе:" formControlName="quantity">
  </mat-form-field>
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="changeRequired(part)"
                  [checked]="part.iRequired" formControlName="iRequired"></mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary"(click)="save()">Сохранить</button>
  <button class="mat-raised-button"(click)="close()">Отмена</button>
</mat-dialog-actions>
