<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Note</title>
</head>
<body>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Edit Part</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" name="title" title="title" class="form-control" id="title">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Text" value="part.text" name="text" title="text" class="form-control" id="text">
          </mat-form-field></td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Date Created" value ="part.dateCreated" name="date_created" title="date_created" class="form-control" id="date_created">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="editNote(part)" color="primary">Save</button>
  </mat-card-actions>
</mat-card>
</body>
</html>
