<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--img src="./assets/img/computer-logo_sm.png"!-->
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>

      <button class="mat-raised-button"[routerLink]="['/parts']">Список запчастей</button>
      <button class="mat-raised-button"[routerLink]="['/add']">Добавить запчать</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table #table [dataSource]="dataSource" class="example-table"
             matSort matSortActive="id" matSortDirection="asc">

    <!---     https://github.com/angular/material2/issues/10150
    Part that these columns can be defined in any order.
          The actual rendered columns are set as a property on the part definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>
        Наименование детали
        <mat-form-field class="mat-input-placeholder">
          <input matInput (keyup)="applyTextFilter($event.target.value)" placeholder="Фильтр по имени">
        </mat-form-field>
      </mat-header-cell>

      <mat-cell *matCellDef="let part">{{ part.title }}</mat-cell>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Количество на складе</mat-header-cell>
      <mat-cell *matCellDef="let part">{{ part.quantity }}</mat-cell>
    </ng-container>

    <!-- Required Column -->
    <ng-container matColumnDef="i_required">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-select [value]="1" placeholder="Фильтровать детали:" (selectionChange)="applySelectFilter($event)">
            <mat-option [value]=1>Все детали</mat-option>
            <mat-option [value]=2>Необходимые</mat-option>
            <mat-option [value]=3>Опциональные</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let part">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="setRequired(part)"
                      [checked]="part.iRequired">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Действия</mat-header-cell>
      <mat-cell *matCellDef="let part">
        <button mat-raised-button class="btn btn-success btn-sm" (click)="openDialog(part)">Изменить</button>
        <button mat-raised-button class="btn btn-danger btn-sm" (click)="deletePart(part)">Удалить</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <td mat-footer-cell *matFooterCellDef>Доступно к сборке: </td>
    </ng-container>
    <ng-container matColumnDef="quant">
      <td mat-footer-cell *matFooterCellDef>{{inStockCount}}</td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="footerColumns"></mat-footer-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="10">
  </mat-paginator>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
