<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6">
  <h2 class="text-center">Add Note</h2>
  <form>
    <div class="form-group">
      <label for="title">Note Title:</label>
      <input name="title" [(ngModel)]="note.title" placeholder="Title" title="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="text">Note Text:</label>
      <input name = "text" [(ngModel)]="note.text" placeholder="Note Text" title="text" class="form-control" id="text">
    </div>

    <div class="form-group">
      <label for="dateCreated">Date Created</label>
      <input name = "dateCreated" [(ngModel)]="note.dateCreated" placeholder="Date Created" title="dateCreated" class="form-control" id="dateCreated">
    </div>

    <button class="btn btn-success" (click)="createNote()">Create</button>
  </form>
</div>
</body>
</html>
