<div class="col-md-6">
  <h2> Note Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Title</th>
      <th>Text</th>
      <th>DateCreated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let note of notes">
      <td class="hidden">{{note.id}}</td>
      <td>{{note.title}}</td>
      <td>{{note.text}}</td>
      <td>{{note.dateCreated}}</td>
      <td><button class="btn btn-danger" (click)="deleteNote(note)"> Delete Note</button></td>
    </tr>
    </tbody>
  </table>
</div>
