<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table"
             matSort matSortActive="id" matSortDirection="asc">

    <!---     https://github.com/angular/material2/issues/10150
    Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the note definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let note">{{ note.title }}</mat-cell>
    </ng-container>

    <!-- Text Column -->
    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
      <mat-cell *matCellDef="let note">{{ note.text }}</mat-cell>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="date_created">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
      <mat-cell *matCellDef="let note">{{ note.dateCreated | date: 'yyyy-MM-dd' }}</mat-cell>
    </ng-container>

    <!-- Done Column -->
    <ng-container matColumnDef="done">

      <mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-select [value]="1" placeholder="Фильтровать заметки:">
            <mat-option [value]=1>Все заметки</mat-option>
            <mat-option [value]=2>Выполненные</mat-option>
            <mat-option [value]=3>Не выполненные</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let note">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="setDone(note)"
                      [checked]="note.done">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let note">
        <button mat-raised-button class="btn btn-danger btn-sm" (click)="deleteNote(note)">Delete</button>
        <button mat-raised-button class="btn btn-success btn-sm" (click)="openDialog(note)">Edit</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="10">
  </mat-paginator>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
